<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.canberkdemirkan.mediaboxmngr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="de.canberkdemirkan.mediaboxmngr.activities.SplashScreenActivity"
            android:theme="@style/CustomActionBarTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activities.ItemListActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.ItemEditorActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.canberkdemirkan.mediaboxmngr.activities.ItemPagerActivity" />
        </activity>
        <activity
            android:name=".activities.ItemPagerActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.canberkdemirkan.mediaboxmngr.activities.ItemListActivity" />
        </activity>
    </application>

</manifest>